<div class="container-fluid">
  <div class="row cateogry-list text-primary" ng-repeat="category in $ctrl.menuCategories">
    <div class="col-md-2"><button class="btn btn-outline-primary"
                                  ui-sref="itemList({categoryId : category.short_name})">
                                  Items in detail</button></div>
    <div class="col-md-3">{{ category.name }}</div>
    <div class="col-md-1">{{ category.short_name }}</div>
    <div class="col-md-6">{{ category.special_instructions }}</div>
  </div>
</div>
