<div class="container-fluid found-list">
  <div class="row unit-item" ng-repeat="item in menu.foundItems">
    <div class="col-md-2">{{ item.name }}</div>
    <div class="col-md-2">{{ item.short_name }}</div>
    <div class="col-md-5">{{ item.description }}</div>
    <div class="col-md-3"><button class="btn btn-danger" ng-click="menu.onRemove({index: $index});">Don't want this one!</button></div>
  </div>
  <div class="alert alert-danger" role="alert" ng-if="menu.onEmpty">
  <strong>Nothing found!</strong>
  </div>
</div>
