p.green {
  color: green;
  border-color: green;
}

p.red {
  color: red;
  border-color: red;
}

input.green {
  box-shadow: 0px 0px 2px 1px green;
}

input.red {
  box-shadow: 0px 0px 2px 1px red;
}
